h2{
    color:	black;
}
h3{
    color: black; 
    font-size: 25px ;
}
textarea{
    border: 10px solid #7BAFD4;
}
.label{
    color: black;
}
.newlogin{
    justify-content: left;
    text-align: left;
    align-content: left;
}

#map {
    height: 400px;
    width: 100%;
  }

  .card_img{
    height: 175px;
  }
  
  .spotcards{
      color: white; 
  }
  .individualcards{
      color: black; 
  }
